:root {
}

body {
  padding-top: 200px;
  background-image: url(https://w.wallhaven.cc/full/o3/wallhaven-o3v6o9.jpg);
}

.header h1 {
  text-align: center;
}


.navbar {
  font-family: roboto condensed;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  font-size: 20px;
}

.navbar li {
  list-style: none;
  display: inline-block;
  margin-left: auto;
  margin-right: 20px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar li a:hover {
  background-color: rgba(213, 213, 213, 0.3);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 100ms;
}

.clock {
  font-family: fira sans;
  font-size: 85px;
  text-align: center;
  color: white;
}

.footer {
  font-size: 14px;
  color: black;
  background-color: rgb(219, 219, 219);
  border: solid 2px black;
  padding: 2px;
}
