body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding-top: 200px;
  background-color: hsl(231, 15%, 12%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.637);
  overflow: hidden;
}

.header h1 {
  text-align: center;
}


.navbar {
  font-family: roboto condensed;
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding-right: 15px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  font-size: 20px;
}

.navbar li {
  list-style: none;
  display: inline-block;
  margin-left: auto;
  margin-right: 20px;
  background-color: rgb(40, 42, 54);
  border-radius: 15px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}

.navbar li a:hover {
  background-color: rgba(68, 71, 90);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 100ms;
  border-color: rgba(124, 124, 124, 0.473);
  border-style: solid;
}

.clock {
  font-family: Fira Sans;
  font-size: 110px;
  text-align: center;
  color: white;
  border-radius: 25px;

}

.footer {
  font-size: 14px;
  color: black;
  background-color: rgb(219, 219, 219);
  border: solid 2px black;
  padding: 2px;
}

.ampm {
  font-size: 55px;
  font-family: fira sans;
  color: white;
}

.search-bar {
  padding-top: 20px;
  text-align: center;
}

#search-input {
  font-family: roboto condensed;
  font-size: 30px;
  background-color: rgba(40, 42, 54);
  border-style: none;
  color: white;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  width: 400px;
  border-style: solid;
  border-color: rgba(255, 228, 196, 0);
  border-width: 5px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.342);
  font-size: 25px;
}

input::placeholder:hover {
  color: white;
}

#search-button {
  font-size: 30px;
  border-radius: 260px;
  background-color: rgba(40, 42, 54, 0);
  color: white;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: solid;
}

#search-input:hover,
#search-button:hover {
  transition: 100ms;
  border-color: rgba(129, 129, 129, 0.329);
  border-style: solid;
  background-color: rgb(68, 71, 90);
  border-width: 5px;
}

#weather-text {
  color: white;
  text-align: center;
  font-family: fira sans;

}

.quote {
  text-align: center;
  font-family: Fira Sans;
  color: rgb(138, 138, 138);
  max-width: 400px;
  margin: 0 auto;
}

#quote {
  background-color: rgba(128, 128, 128, 0.068);
  border-radius: 15px;
  padding: 20px;
}

.weathercontainer {
  color: white;
  text-align: center;
  font-family: fira sans;
  font-size: 20px;
}